@import './../../variables';
.eat-box {
    width: 60vw;
    height: 50vh;
    margin: 25vh auto;
    border: 5px solid $c-snow;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: $c-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    h1 {
        color: $c-gray;
        font-size: 1.2rem;
        font-weight: 300;
    }
    .btn-sort {
        background-color: $c1-theme;
        color: $c-snow;
        padding: 10px 20px;
        border-radius: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .answer-text {
        font-family: $font-secondary;
        color: $c2-theme;
        font-size: 3rem;
    }
}