$c-snow: #f3f3f3;
$c-light-gray: #dedede;
$c-white: #fff;
$c-gray: #333;
$c1-theme: #1d83f7;
$c2-theme: #ff36a5;

$c3-theme: #a11fff;
$c4-theme: #ff9036;

$font-base: 'Roboto', sans-serif;
$font-secondary: 'Cookie', cursive;
