/* You can add global styles to this file, and also import other style files */
@import './variables';
@import url('https://fonts.googleapis.com/css?family=Cookie|Roboto:300,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body {
    background-color: $c-white;
    font-family: $font-base;
}

