<div class="pick">
  <div class="tipo principal" (click)="openEatReact()">
    <fa-icon [icon]="faDrumstickBite"></fa-icon>
    <h2>Prato Principal</h2>
  </div>
  <div class="tipo sobremesa" [routerLink]="['/desert']"  >
    <fa-icon [icon]="faIceCream"></fa-icon>
    <h2>Sobremesa</h2>
  </div>
</div>