@import './../../variables';
.pick {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    .tipo {
        border: 5px solid $c-snow;
        border-radius: 10px;
        width:45vw;
        text-align: center;
        height:50vh;
        margin-top:25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;

        fa-icon {
            font-size: 10rem;
            color: $c-snow;
            transition: all .3s ease-in-out;
            color: $c2-theme;
            filter: grayscale(100);
            opacity:.2;
        }

        h2 {
            font-size: 3rem;
            font-family: $font-secondary;
            color: $c1-theme;
            opacity: 0;
            transition: all .3s ease-in-out;
            filter: grayscale(100);
        }

        &.principal {
            fa-icon{
                color:$c3-theme;
            }
            h2{
                color: $c4-theme;
            }
        }

        &:hover {
            cursor: pointer;
            h2, fa-icon{
                opacity: 1;
                filter: none;
            }
        }
    }

}